.formSection{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.inputDiv input{
  width: 15px;
  height: 2rem;
}
.submitBtn{
  padding: 5px,10px;
  border-radius: 5px;
  border-color: black;
}
.formSection h2{
  color: white;
}